<div class="container card p-10">
    <div class="image"
    [style.background-image]="'url('+ musica.album.imgUrl +')'"></div>
    <div class="controles">
        <span>{{musica.titulo}}</span>
        <span>{{artista}}</span>
        <div class="progress-bar mt-1">
            <div class="progress" [style.width]="this.progresso()+'%'">
            </div>
        </div>
        <div class="botoes">
            <fa-icon [icon]="anteriorIcone" (click)="voltarMusica()"></fa-icon>
            <fa-icon [icon]="playIcone" (click)="playPause()"></fa-icon>
            <fa-icon [icon]="proximoIcone" (click)="proximaMusica()"></fa-icon>

        </div>
    </div>

</div>