@import '../../../assets/style/variaveis.scss';

:host{
    input{
        width: 100%;
        padding: 10px 5px;
        border-color: $branco;
        border-radius: 8px;
        font-size: 1rem;
        outline: none;
        font-weight: 500;
        background-color: $cinza;

        &::placeholder{
            color:$branco;
            font-size: .85rem
        }
        &:focus, &:active{
            border-color: $cor-primaria;
            border-width: 2px;
            color: $branco;
        }
    }
    .sugestoes{
        flex-wrap: wrap;
        
        span{
            background-color: $cinza;
            margin-right: 5px;
            padding: 5px 10px;
            color: $branco;
            border:1px solid $preto-trasparent-30;
            margin: 10px;
            font-size: .9rem;
            border-radius: 20px;
            cursor: pointer;

            &:hover{
                background-color: rgba($cor-primaria,.5);
                color: $branco;
            }

        }
    }
}