@import '../../../assets/style/variaveis.scss';

:host{
    min-height: 270px;
    color: $cor-primaria;
    
    
    .d-block{
        display:block
    }
    .selecionado{
        border-radius: 5px;
        background-color: $cor-primaria;
    }
}